body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body .github-fork-ribbon:before {
  background-color: #58ACFA;
}

@media screen and (max-width: 500px) {
  .github-fork-ribbon {
    display: none;
  }
}
